#table-countries {
	margin-top: 3em;
}

tr {
	text-align: center;
}

.content-img {
	width: 100%;
	height: 300px;
	position: relative;
}

.countries {
	width: 100%;
	height: 100%;
	object-fit: cover
}
