#table-countries {
	margin-top: 3em;
}

tr {
	text-align: center;
}

.content-img {
	width: 100%;
	height: 300px;
	position: relative;
}

.countries {
	width: 100%;
	height: 100%;
	object-fit: cover
}

.label-img {
	font-size: 2em;
	width: 20%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}